<h1>Bookmark Manager</h1>

<h2>Here is your bookmarks list:</h2>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href ='<%= bookmark.url %>'>
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action='/bookmarks/add' method='get'>
  <button name="add">Add bookmark</button>
</form>
